

header
{
    background: rgb(56, 54, 54);
    height: 15vh;
    width:  100%;
    padding-top: 5px;
    padding-bottom: 15px;
    
}

h1
{
    color: white;
    font-family: 'Georgia';
    font-size: 40px;   
}

#container
{
    width: 80vw;
    margin-left: 10vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-self: right;
}

#time
{
    width: 20vw;
    height: 4vw;
    border-radius: 10px;
    background: white;
    margin-top: 2vw;
    margin-left: 50vw;
    font-size: 2vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-style: oblique;
   
}

#ques
{
    margin-top: 10vh;
    font-size: 4vh;
    height: 13vh;
    padding-top: 17px;
    padding-left: 60px;
}

#options
{
    margin-top: 5vh;
    height: 12vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lavenderblush;
}

label
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 4vh;
}

#nav-section
{
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ques-ans
{
    background-image: url(kbcBackground.jpeg);
    background-size: 100% 100%;
    font-family: 'Times New Roman', Times, serif;
    color: lavenderblush;
}




/* ----------------------------- For Admin Section ----------------------------------------- */

input[type='text']
{
    height: 25px;
    font-size: 18px;
    font-family: 'Times New Roman';
    border-radius: 5px;
    margin: 2px 0px 2px 0px;
    background: rgb(228, 225, 225);
}

td
{
    border: black 2px solid;
}

.tableRow:hover
{
    background: gainsboro;
}